
body{
	margin-top:20px;
	background: #ffffff;
	
  }
  
  .todo-list {
	 margin: 10px 0
  }
  
  .todo-list .todo-item {
	padding: 15px;
	margin: 5px 0;
	border-radius: 0;
  }
  
  div.checker {
	width: 18px;
	height: 18px
  }
  
  div.checker input{
	width: 18px;
	height: 18px
  }
  
  div.checker {
	display: inline-block;
	vertical-align: middle;
  }
  
  .done {
	text-decoration: line-through;
  }

  .detail-lg {
	height: 150px;
  }
  
  .animated-image {
	animation-name: slide-up;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
  }
  
  @keyframes slide-up {
	from {
	  transform: translateY(0);
	}
	to {
	  transform: translateY(-100px);
	}
  }
  
  .calendar-icon {
	font-size: 100px; /* Increase the font size to increase the icon size */
	margin-right: 10px;
	margin-left: 10px; /* Add some spacing if needed */
  }

  .navbar {
	background-color: #333; /* Set desired background color */
  }
  
  .navbar.scrolled {
	background-color: #f8f9fa; /* Set desired background color when scrolled */
  }
  
  .nav-link {
	color: #333; /* Set desired text color */
  }
  
  .nav-link:hover {
	color: #ffffff; /* Set desired hover text color */
  }
  

  @media (max-width: 767px) {
    .sidebar-minimized {
      width: 80px;
    }
    
    .sidebar-minimized .sidebar-content {
      display: none;
    }
    
    .sidebar-minimized .sidebar-footer {
      justify-content: flex-start;
    }
    
    .sidebar-minimized .sidebar-footer .container-fluid {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .sidebar-minimized .sidebar-footer .container-fluid .dropdown {
      margin-top: 10px;
    }
  }

  @media (max-width: 768px) {
    table.table-responsive {
      width: 100%;
      overflow-x: auto;
    }
  }
  
  
  